Options -Indexes
<IfModule mod_headers.c>
  Header set X-Robots-Tag "noindex, nofollow"
  Header set X-Content-Type-Options "nosniff"
  Header set Referrer-Policy "strict-origin-when-cross-origin"
</IfModule>
<IfModule mod_deflate.c>
  AddOutputFilterByType DEFLATE text/html text/css application/javascript image/svg+xml
</IfModule>
<IfModule mod_expires.c>
  ExpiresActive On
  ExpiresByType image/jpeg "access plus 1 month"
  ExpiresByType video/mp4  "access plus 1 month"
  ExpiresByType video/webm "access plus 1 month"
  ExpiresByType font/woff2 "access plus 1 year"
</IfModule>
AddType video/webm .webm
AddType font/woff2 .woff2
